@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonStyle {
  background-color: rgb(88, 196, 220);
  color: rgb(22, 24, 29);
}

.buttonStyle:hover {
  background-color: rgb(55 65 81);
  color: rgb(246, 247, 249);
}

@media screen and (max-width: 768px) {
  .menu-links {
    height: 50%;
    width: 75%;
    margin-right: 2rem;
    padding: 1rem;
    position: fixed;
    top: 5.2rem;
    right: 0;
    text-align: right;
    border-radius: 0.5rem;
    z-index: 10;
  }
}
