@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  --toastify-color-dark: rgb(55 65 81);
  --toastify-icon-color-success: rgb(88, 196, 220);
  --toastify-color-progress-success: rgb(88, 196, 220);
}

.Toastify__toast-container {
  margin-top: 5rem;
}

.buttonStyle {
  background-color: rgb(88, 196, 220);
  color: rgb(22, 24, 29);
}

.buttonStyle:hover {
  background-color: rgb(55 65 81);
  color: rgb(246, 247, 249);
}

/* Adjust margin-top for smaller screens */
@media (max-width: 480px) {
  .Toastify__toast-container {
    margin-top: 5rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .menu-links {
    width: 60%;
    margin-right: 2rem;
    padding: 1rem;
    position: fixed;
    top: 5.2rem;
    right: 0;
    text-align: right;
    border-radius: 0.5rem;
    z-index: 10;
  }
}
